.itemPage {

  .pizza-block {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &:hover {
      .pizza-block__image {
        transform: scale(1);
      }
    }
    &__image {
      position: relative;
      left: 7px;
      width: 80%;
      object-fit: cover;
    }

    &__title {
      font-size: 30px;
      @media (max-width: 700px) {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }

    &__desc {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    &__selector {
      display: flex;
      background-color: #f3f3f3;
      border-radius: 10px;
      flex-direction: column;

      ul {
        column-gap: 5px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 10px;
          font-size: 16px;
          @media (max-width: 700px) {
            font-size: 14px;
            padding: 8px;
          }
          background-color: rgba(255, 255, 255, 0.4);


          &.active {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          }

          &.disabled {
            background-color: rgba(255, 255, 255, 0);
            box-shadow:none;
          }
        }
      }
    }

    &__price {
      font-size: 25px;
      @media (max-width: 700px) {
        font-size: 20px;
      }
    }

    &__bottom {
      margin-top: 25px;
      align-items: center;
    }

    .button {
      padding: 12px 20px;

      span {
        font-size: 20px;
      }

      @media (max-width: 700px) {
        padding: 8px 15px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

.itemPageSkeleton {
  width: 100%;
}
